TWITTER_CONSUMER_KEY = UtDfhgfg8m5HNZvgjuWIfkiQXxDXMoF
TWITTER_CONSUMER_SECRET = mCiMU0ephfmnhjvgmdzj9s02QdJdSXGoArLFbbRI8XTZR5zL7u1kKDx5kF
TWITTER_ACCESS_TOKEN_KEY = 135rgsr6yk16823590912-gXBsULBSCXIEf6k04k9pDH6RUxk6CF
TWITTER_ACCESS_TOKEN_SECRET = vhQhCcQkyhgdehn fynj0DRwBYDttHNWsTcToLGhyHVwobUWw1FHbKoeOl
OWNER_EMAIL=twitthkerbot487@gmail.com
OWNER_EMAIL_PASSWORD=123365ghfngk
RECIEVER_EMAIL=ghfdgh@gmail.com, reda@gmail.com
